pkgbase = typecatcher
	pkgdesc = Download Google webfonts for off-line use
	pkgver = 0.3.r0.g0a4feaf
	pkgrel = 1
	url = https://launchpad.net/typecatcher
	arch = i686
	arch = x86_64
	license = GPL3
	makedepends = git
	depends = python3
	depends = python-distutils-extra
	depends = python-gobject
	depends = yelp
	depends = webkit2gtk
	depends = gobject-introspection
	depends = gtk3
	source = typecatcher::git+http://github.com/andrewsomething/typecatcher#tag=0.3
	md5sums = SKIP

pkgname = typecatcher

